# /etc/systemd/user/gotest.service
[Unit]
Description=Testing go app deployment

[Service]
Type=simple
Restart=always
RestartSec=5s
WorkingDirectory=${HOME}/projects/gotest
ExecStart=/bin/bash -c '${HOME}/projects/gotest/build/main'

[Install]
WantedBy=multi-user.target
